.mainDish {
  padding: 1rem;
}

.mainDish-grid {
  margin: 0 auto;
  max-width: 1200px;
  gap: 1rem; /* Add gap to apply spacing */
}

.mainDish-gridItem {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.mainDish-paper {
  padding: 1rem;
  text-align: center;
  height: 300px;
  width: 200px;
}

.mainDish-image {
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.container {
  padding: 100px;
}
